.show__image {
         
          width: 100%;
          max-width: 400px; 
          margin: 0 auto; 
        }

        /* Media query for small screens (up to 768px width) */
        @media (max-width: 768px) {
          .show__image {
            max-width: 100%; /* Change the max-width to 100% for small screens */
          }
        }