.show__image {
          width: 100%;
          max-width: 400px; 
          margin: 0 auto; 
        }

        @media (max-width: 768px) {
          .show__image {
            max-width: 100%; 
          }
        }