.show__image {
          /* Set a fixed width for the image container on small screens */
          width: 100%;
          max-width: 400px; /* Adjust the max-width value as needed */
          margin: 0 auto; /* Center the image container */
        }

        /* Media query for small screens (up to 768px width) */
        @media (max-width: 768px) {
          .show__image {
            max-width: 100%; /* Change the max-width to 100% for small screens */
          }
        }