.wrapper {
  min-height: 100%;
  justify-content: center;
  align-items: center;
  background:#EEEEEE; 
  margin: 10px;
  padding: 15px;
  text-align:justify;
  color: #11009E;
  scroll-snap-type: y mandatory;
  scroll-padding: 10px;
  overflow-y: scroll;
/* 

/* Form container styles */
.bg-white {
  background-color: #fff;
}

/* Form input and textarea styles */
.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

.form-control:focus {
  border-color: blue;
}

/* Submit button styles */
.btn{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #007bff;
}

} }